Source: awscli-cwlogs
Maintainer: Lyndon Swan <lyndon.swan@cloudtrek.com.au>
Section: admin
Priority: optional
Build-Depends:
 debhelper (>= 9),
 awscli
Build-Depends-Indep:
 python3-six,
 python3-botocore,
 python3-colorama,
 python3-docutils,
 python3-bcdoc,
 python3-rsa
Standards-Version: 3.9.7
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3
Homepage: https://pypi.python.org/pypi/awscli-cwlogs